.checkoutContainer {
   display: grid;
   grid-template-areas: "company employee"
                        "goback goback"
                        /* "payment cart"; */
                        "payment cartBox";   
   grid-template-columns: 65%;
   grid-gap: 1rem;
}

.goback {
    grid-area: goback;
}

.paymentContainer {
    /* background-color: #fff; */
    grid-area: payment;
    display: grid;
    /* border: var(--defaultBranding);  */
    border-radius: .5rem;
}

.paymentContainer span {
    display: grid;
    text-align: center;
    height: 50px;
}



