.container {
     padding: 0 2rem;
     background-color: azure;
     /* background-image: linear-gradient(45deg, rgba(134, 230, 230, 0.822), azure ); */
     height: 100vh;
}

.selectionContainer {
    display: grid;
    grid-template-areas: "company employee"
                         "searchItemAndCategories cart"
                         "items cart"
                         "items checkoutButton";
    grid-template-columns: 75%;
    grid-gap: 1rem;
}

.companyContainer{
    background-color: #fff;
    grid-area: company;
    border: var(--defaultBranding);
    /* padding: 1.5rem;   commented out by Luis to merge navbar into company container */   
    margin: 1rem 0 0 0;
    border-radius: .5rem;
    box-shadow: var(--defaultShadow);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.employeeContainer{
    background-color: #fff;
    grid-area: employee;
    /* border: solid 2px #b9ad01; */
    border: var(--defaultBranding);
    border-radius: .5rem;
    margin: 1rem 0 0 0;
    padding: 0rem 0rem .5rem 1rem;
    box-shadow: var(--defaultShadow);
}

.itemSearchAndcategoriesContainer{
    background-color: #fff;
    grid-area: searchItemAndCategories;
    border: var(--defaultBranding);
    border-radius: .5rem;
    box-shadow: var(--defaultShadow);
    padding: 1rem;
}

.cartContainer{
    background-color: #fff;
    grid-area: cart;
    /* border: solid 2px #2e7d32; */
    border: var(--defaultBranding);
    border-radius: .5rem;
    box-shadow: var(--defaultShadow);
    height: 475px;
    text-align: center;
}

.checkoutButton {
    grid-area: checkoutButton;
    justify-self: center;
    align-self: top;
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
    background: #0C5465;
    border-radius: 8px;
    border: solid 2px #fff;
    color: white;
    cursor: pointer;
}

.checkoutButton:hover {
    background: #fff;
    border-color: #0C5465;
    box-shadow: #8080808c 2px 4px 10px 2px;
    color: black;
}

.checkoutButton[disabled]{
    border: 2px outset;
    color: gray;
    cursor: inherit;
    pointer-events: none;
    background-color: #ddd;
    background: #ddd;
}

.itemsContainer{
    background-color: #fff;
    grid-area: items;
    border: var(--defaultBranding);
    border-radius: .5rem;
    box-shadow: var(--defaultShadow);
    padding: 1rem;;
    margin-bottom: .5rem;
    /* New */
    height: 400px;
}


