.categoryList {
    display: flex;
    inline-size: max-content;
}

.categoryListWrapper { overflow-y: hidden;}

.individualCategory {
    padding: .4rem .8rem;
    background-color: bisque;
    margin: .5rem .5rem 0rem .5rem;
    border-radius: 10%;
}