.container {
    padding: 0 2rem;
    background-color: azure;
    height: 100vh;
}

.checkoutContainer {
   display: grid;
   grid-template-areas: "company employee"
                        "goback goback"
                        "payment cart";
   grid-template-columns: 65%;
   grid-gap: 1rem;
}

.goback {
    grid-area: goback;
}

.paymentContainer {
    /* background-color: #fff; */
    grid-area: payment;
    display: grid;
    justify-content: center;
    border: var(--defaultBranding); 
    border-radius: .5rem;
    gap: 2rem;
    /* box-shadow: var(--defaultShadow); */
}

.paymentContainer span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

