/* This styling needs to be changed */
/* .itemSearch{
    background-color: #fff;
    grid-area: searchItem;
    border: solid 2px #2e7d32;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
} */

.itemsOnScreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem 0rem;
    height: 375px;
    overflow-x:hidden;
}

.individualItemContainer {
    border: solid 1px red;
    width: var(--itemOnScreenWidth);
    border-radius: 1rem;
    justify-self: center;
    align-self: start;
    cursor: pointer;
} 

.individualItem {
    border: solid 1px blue;
    border-radius: 0 0 1rem 1rem;
    padding: 0rem .2rem .2rem .2rem;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: manual;
    /* font-size: 14px; */
}

.clearanceButton:hover {
    background-color: var(--clearanceButtonBackground);
    color: white;
}