.paymentMethod {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
/* .paymentMethod button {
    width: 90%;
} */
.paymentMethod *{
    width: 90%;
}
.payment-method-button {
    border: solid #4F46E5 1px;
}
.payElement {
    justify-items:center;
    margin: 0rem 4rem;
}
.payElement button{
    width: 100%;
    height: 50px;
}