.container {
     padding: 0 2rem;
     background-color: azure;
     height: 100vh;
}

.selectionContainer {
    display: grid;
    grid-template-areas: "company employee"
                         "searchItemAndCategories cart"
                         "items cart"
                         "items checkoutButton";
    grid-template-columns: 70%;
    grid-gap: 1rem;
}

.companyContainer{
    background-color: #fff;
    grid-area: company;
    border: solid 2px #2e7d32;
    /* padding: 1.5rem;   commented out by Luis to merge navbar into company container */   
    margin: 1rem 0 0 0;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.company {
    padding: 1rem;
}

.employeeContainer{
    background-color: #fff;
    grid-area: employee;
    border: solid 2px #2e7d32;
    border-radius: .5rem;
    margin: 1rem 0 0 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.itemSearchAndcategoriesContainer{
    background-color: #fff;
    grid-area: searchItemAndCategories;
    border: solid 2px #2e7d32;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
}

.cartContainer{
    background-color: #fff;
    grid-area: cart;
    border: solid 2px #2e7d32;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-x: hidden;
    height: 450px;
    text-align: center;
}

.checkoutButton {
    grid-area: checkoutButton;
    justify-self: center;
    align-self: top;
    width: 90%;
    margin-bottom: 10px;
    padding: 20px;
    background: #0C5465;
    border-radius: 8px;
    border: solid 2px #fff;
    color: white;
}

.checkoutButton:hover {
    background: #fff;
    border-color: #0C5465;
    box-shadow: #8080808c 2px 4px 10px 2px;
    color: black;
}

.itemsContainer{
    background-color: #fff;
    grid-area: items;
    border: solid 2px #2e7d32;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;;
    margin-bottom: .5rem;
}


