#signup-form {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     gap: 1.25rem;
     height: 100vh;
     justify-content: center;
}

.text-field {
     width: 25%;    
}

#signup-button {
     width: 25%;
}

#signup-header {
     font-size: 2.5rem;
}

a {
     color: #1F51FF;
     font-weight: bold;
}